---
import "../../styles/index.scss";
import { encodeString } from "../../composables/index";
import { Draft } from "../../components/Draft";
import Layout from "../../layouts/index.astro";

import { getCollection } from "astro:content";
export async function getStaticPaths() {
	const gameEntries = await getCollection("game");
	return gameEntries.map((entry) => ({
		params: { slug: entry.id },
		props: { entry },
	}));
}

const { entry } = Astro.props;
---

<Layout>
	<Fragment slot="meta">
		<title>{entry.data.title}</title>
		<meta name="description" content={entry.data.description} />
		<meta itemprop="name" content={entry.data.title} />
		<meta itemprop="description" content={entry.data.description} />
		<link
			rel="canonical"
			href={`https://multimatch.netlify.app/${entry.id}`}
		/>
	</Fragment>
	<Draft
		client:only="solid"
		data={encodeString(JSON.stringify(entry.data))}
	/>
</Layout>
